<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}SoundSwipe{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <div>
    {% with messages = get_flashed_messages(with_categories = True) %} {% if
      messages %} {% for category, message in messages%}
        <div class="flash-{{category}}">{{message}}</div>
      {% endfor %} {% endif %} {% endwith %}
  </div>

  <body>
    <header>
      <h1>
        <a href="{{ url_for('index') }}">
          <img
            src="{{ url_for('static', filename='logo.png') }}"
            alt="SoundSwipe Logo"
            class="header-logo"
          /></a>
      </h1>
      <nav>
        <a href="{{ url_for('login') }}">Login</a> |
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('index') }}">Home</a> |
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('system') }}">System</a> | {% if session.username %}
          <span class="welcome-message"> Welcome, {{ session.username }}</span>
        {% endif %}
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2025 Hello</p>
    </footer>
  </body>
</html>
