{% extends "base.html" %}
  {% block title %} Register {% endblock %}
  {% block content %}

    <container class="registration_box">
      <h1>Registration</h1>
      <form action="/register" method="POST">
        {{ form.hidden_tag() }}
          <div class="username_field">
            {{ form.username.label }}<br />
            {{ form.username(size=32) }}<br />
            {% if form.username.errors %}
              {% for error in form.username.errors %}
                <span style="color: red">[{{ error }}]</span>
              {% endfor %}
            {% endif %}
          </div>

        <div class ="password_field">
          {{ form.password.label }}<br />
          {{ form.password(size=32) }}<br />
          {% for error in form.password.errors %}
            <span style="color: red">[{{ error }}]</span>
          {% endfor %}
        </div>

        <div>{{ form.submit() }}</div>
      </form>
    </container>
  {% endblock %}
